html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Asaff
        link(rel="stylesheet", href="main.css")
    body
        .mobile__container
            header
                .asaff-logo
                .tagline__container
                    p.tagline__static We can help you with
                    h1.tagline__dynamic ICT
            .asaff-group-container
                .companies__asaff-group
                    h3.asaff-group__title ASAFF Group
                .line__down--short
                .line__left--long
                .line__down--long
            .companies__container
                .company__container
                    .line__left--short
                    .company__header.freight-forwarding-bg
                        h4.company__title Abdul Saman Ahmad Freight Forwarding
                        .company__view-button
                            h4.view-button__text view
                    .company__content
                        p.company__description We offer Muara Container Terminal Operation, International Freight Forwarding Services, International Relocation Services, Warehousing Services.
                        .company__logos-container
                            h5.logos__title partners
                            img(src="images/freight-forwarding/icts.jpg").logo
                            img(src="images/freight-forwarding/team.jpg").logo
                        .company__logos-container
                            h5.logos__title clients
                            img(src="images/freight-forwarding/icts.jpg").logo
                            img(src="images/freight-forwarding/team.jpg").logo
            .companies__container.container--open
                .company__container.company__block
                    .line__left--short
                    .company__header.freight-forwarding-bg.header--open
                        h4.company__title Abdul Saman Ahmad Freight Forwarding
                        .company__view-button.close-button
                            h4.view-button__text view
                    .company__content.content--show
                        p.company__description We offer Muara Container Terminal Operation, International Freight Forwarding Services, International Relocation Services, Warehousing Services.
                        .company__logos-container
                            h5.logos__title partners
                            img(src="images/freight-forwarding/icts.jpg").logo
                            img(src="images/freight-forwarding/team.jpg").logo
                        .company__logos-container
                            h5.logos__title clients
                            img(src="images/freight-forwarding/icts.jpg").logo
                            img(src="images/freight-forwarding/team.jpg").logo
            
            
            section.contact__section
                h5.section__title Contact Us
                p inquiries@asaff.com
                p +2220293

            footer
                .footer__block
                p.footer__copyright Copyright ASAFF Group. <br /> All rights reserved.
                .swoosh

                            
        
                    //- .company__card.freight-forwarding-bg.open
                    //-     h4.company__title Abdul Saman Ahmad Freight Forwarding
                    //-     .company__view-button.close-button
                    //-         h4.view-button__text close
                    //-     .company__content-container.show-content
                    //-         p.company__description We offer Muara Container Terminal Operation, International Freight Forwarding Services, International Relocation Services, Warehousing Services.
                    //-         .company__logos-container
                    //-             .logos__title partners
                    //-             img.logo
                    //-             img.logo

