html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Asaff
        link(rel="stylesheet", href="main.css")
    body
        .mobile__container
            header
                .asaff-logo
                .tagline__container
                    p.tagline__static We can help you with
                    h1.tagline__dynamic ICT
            .companies__container
                .companies__asaff-group
                    h3.asaff-group__title ASAFF Group
                .line__down--short
                .line__left--long
                .line__down--long
                .company__container
                    .line__left--short
                    .company__card.freight-forwarding-bg
                        h4.company__title Abdul Saman Ahmad Freight Forwarding
                        .company__view-button view
                        .company__content-container
                            .company__description We offer Muara Container Terminal Operation, International Freight Forwarding Services, International Relocation Services, Warehousing Services.
                            .company__logos-container
                                .logos__title partners
                                img.logo
                                img.logo

